* {
    margin: 0 auto;
}

nav {
    background-color: green;
    color: purple;

}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

h1 {
    color: purple;
    text-align: center;
}

article {
    background-color: purple;
    padding: 10%;
}

.aubergine {
    display: flex;
    align-items: center;
    justify-content: center;
}

.achetez {
    display: flex;
    align-items: end;
    justify-content: center;
}

.displayNone {
    display: none;
}

.modalContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 50px;
    background-color: #f0f0f0;


}

main {
    position: relative;
}